.navbar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px #000;
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo .logo-icon{
  color: #171717;
  font-size: 38px;
}
.nav-logo p{
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu li a{
  color: #626262;
}
.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
  transition: .5s ease;
}
.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart button{
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: #fff;
  cursor: pointer;
}
.nav-login-cart button:active{
  background: #f3f3f3;
}

.cart-icon{
  font-size: 30px;
  color: #171717;
}
.nav-cart-count{
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -52px;
  font-size: 14px;
  background: #ff4141;
  color: #fff;
}

/* =================== #Media queries (Medium Devices) ============ */
@media(max-width:1024px){
  .nav-menu{
    gap: 30px;
    color: #626262;
    font-size: 23px;
    font-weight: 500;
  }
  .nav-login-cart button{
    width: 50px;
    height: 35px;
    font-size: 15px;
   }
}

/* =================== #Media queries (Small Devices) ============ */

@media(max-width: 768px){
  .navbar{
    margin: 2px 6px;
    padding: 7px;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(15px);
  }
  .nav-menu{
    display: none;
  }
  /* .nav-login-cart{
    display: none;
  } */
   .nav-logo{
    background: #fff;
    border-radius: 20px;
    padding: 0 5px;
   }
  .nav-logo .logo-icon{
    color: #515151;
  }
  .nav-logo p{
    color: #515151;
  }
   .nav-login-cart button{
    width: 60px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
   }
  .cart-icon{
    margin-right: 20px;
    color: #515151;
  }
  .nav-login-cart{
    flex-direction: row-reverse;
    margin-left: auto;
    gap: 20px;
  }
  .nav-cart-count{
    margin-top: -32px;
    margin-right: -60px;
  }
  .nav-logo{
    gap: 5px;
  }
  .nav-logo .logo-icon{
    font-size: 25px;
  }
  .nav-logo p{
    font-size: 25px;
    font-weight: 600;
  }
}